/* MENU */
.section-padding{
    float: right;
    padding: 0;
}
.zindex-2{
    z-index: 2;
}
.nav {
    font-size: large;
    font-family: Roboto, sans-serif;
    z-index: 1;
}
.itemnav {
    display: flex;
    vertical-align: middle;
}
.imgnav {
    float: left;
    margin-right: 8%;
    width: 40px;
    height: 40px;
}
.burger{
    margin: 3% 5% 8% auto;
    z-index: 3;
    cursor: pointer;
}
.burger2{
    margin: 3% 5% 8% auto;
    z-index: 3;
    cursor: pointer;
}
.imgmenu{
    width: 32px;
    height: 32px;
    margin-top: auto;
}
/* ANIMATION MENU */
/* ROTATION */
.rotate {
    -webkit-animation: rotation 1s forwards;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
.rotate2 {
    -webkit-animation: rotation2 1s forwards;
}
@-webkit-keyframes rotation2 {
    from {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}
/* SLIDE */
.slide {
    -webkit-animation: slide1 0.5s forwards;
    width: 0;
}
@-webkit-keyframes slide1 {
    from {
        width: 100%;
    }
    to {
        width: 5%;
    }
}
.slide2 {
    -webkit-animation: slide2 1s forwards;
}
@-webkit-keyframes slide2 {
    from {
        width: 5%;
    }
    to {
        width: 100%;
    }
}
.slide3 {
    -webkit-animation: slide3 1s forwards;
}
@-webkit-keyframes slide3 {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}
.col-12 {
    -webkit-animation: col-12 1s forwards;
}
@-webkit-keyframes col-12 {
    from {
        width: 83.333333%;
    }
    to {
        width: 100%;
    }
}
.col-10 {
    -webkit-animation: col-10 1s forwards;
}
@-webkit-keyframes col-10 {
    from {
        width: 100%;
    }
    to {
        width: 83.333333%;
    }
}








    /* PAGE PRINCIPALE */
.titre {
    padding: 4em 0 0 0;
    background-color: #000000;
}
.titrealpha {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 1rem 0 0.8rem 0;
}
.logo-gamma {
    display: block;
    margin: 0 auto 0 auto;
    /*height: 25rem;*/
    width: 100%;
}
.logo-header {
    display: block;
    margin: 0 auto 0 auto;
    height: 10rem;
}
.logo-link:hover {
    cursor: pointer;
}
.profil {
    font-family: Roboto, sans-serif;
    height: 22rem;
    margin: auto;
    padding: 0;
    background: ghostwhite;
    border: lightgray solid 2px;
    border-radius: 0.5em;
}
.profileft {
    width: 35%;
    border-right: lightgray solid 2px;
    text-align: center;
}
.profileft span {
    margin: 10% auto 5% auto;
}
.profileft p {
    margin: 15px;
}
.circularimg {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circularimg img {
    width: 100%;
    height: auto;
}
.cercleCA {
    border: darkgrey solid 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    opacity: 80%;
}
.cerclename{
    border: darkgrey solid 2px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
.titlename{
    margin: 0.7em auto 0 auto;
    text-align: center;
    color: #3D6380;
    font-size: 22px;
}
.cerclefmc {
    border: darkgrey solid 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
.cerclefmc img {
    margin-top: 4em;
}
/** RIGHT **/
.profilright {
    width: 65%;
    padding: 1.2em;
}
.lilcircle {
    margin: auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    box-shadow: 0px 0px 8px 1px darkgrey;
}
.titleskill{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    color: #0F7CA3;
    margin-bottom: 2em;
}

.profilright a {
    display: grid;
    margin: auto;
}
.btncv {
    width: 22%;
    background-color: #3D6380;
    border: solid #3D6380 2px;
}
.btncv:hover {
    background-color: white;
    color: #3D6380;
    border: solid #3D6380 2px;
}
.marginb6em{
    margin-bottom: 6em;
}








    /** MISSIONS **/
.textbox {
    font-family: Roboto, sans-serif;
    padding: 5em 1em 6em 1em;
    max-width: 100%;
    /**border: lightgray solid 2px;
    border-radius: 0.5em;**/
}
.textbox h2 {
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    color: #42B5DD;
    font-size: 36px;
    text-align: center;
}
.rbox{
    background: #ECE7FF;
}
.textbox p {
    color: #253B4D;
    text-align: center;
    line-height: 1.9em;
    width: 45%;
    padding-top: 5%;
    letter-spacing: 0.8px;
}
.desc {
    display: table-cell;
    padding-top: 0 !important;
}
h6 {
    text-align: center;
    color: #0F7CA3;
    margin-top: 1rem;
}
#textleft {
    margin: auto;
    font-size: 20px;
}

#textright {
    margin: auto;
}

@keyframes test {
    from {
        width: 45%;
    }
    to {
        width: 70%;
    }
}










/* ANIMATION BACKGROUND */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #3D6380;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:35vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.circle-ripple {
    @include size(1em);
    background-color: #a2a2a2;
    animation: ripple 0.7s linear infinite;
}
#main-img-1, #main-img-2 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0   rgba(162, 162, 162, 0.3),
        0 0 0 1em rgba(162, 162, 162, 0.3),
        0 0 0 3em rgba(162, 162, 162, 0.3),
        0 0 0 5em rgba(162, 162, 162, 0.3);
    }

    100% {
        box-shadow: 0 0 0 1em rgba(162, 162, 162, 0.3),
        0 0 0 3em rgba(162, 162, 162, 0.3),
        0 0 0 5em rgba(162, 162, 162, 0.3),
        0 0 0 8em rgba(162, 162, 162, 0);
    }
}

.shoe-match {
    background-color: #303030;
    text-align: center;
}
.modele {
    color: #e35205;
    font-size: 32px;
}
.brand {
    color: white;
    font-size: 28px;
    font-weight: 500;
}
.brand, .modele {
    margin: 0 !important;
    text-align: left;
}
.actual-match {
    justify-content: center;
    display: inline-block;
}
/*.actual-match img {*/
/*    display: none;*/
/*}*/
.shoe-match button {
    border-radius: 10rem;
}
.match-txt {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    background-color: #262626;
    z-index: 1000;
    position: relative;
    padding: 0.3rem;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-style: italic;
}
.choice > .btn{
    margin: 1rem;
}
.choice > .btn > img {
    width: 30px;
    filter: invert(100%);
}
.refuse {
    background-color: #20A39E;
    height: 70px;
    width: 70px;
}
.valid {
    background-color: #FE3C72;
    height: 70px;
    width: 70px;
}
.superlike {
    background-color: #FFBA49;
    height: 60px;
    width: 60px;
}
.back {
    background-color: #A4A9AD;
    height: 55px;
    width: 55px;
}
.menu {
    background-color: #B780FF;
    height: 55px;
    width: 55px;
}
.counter {
    background-color: white;
    border: 2px solid #B780FF;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    position: absolute;
    margin-left: 1.8rem;
    bottom: 8.5%;
    display: none;
}
.counter p {
    font-size: 15px;
}
.choice {
    display: block;
    justify-content: center;
}
.endstock, #main-img-2 {
    display: none;
}
.endstock {
    margin-bottom: 300px;
    color: white !important;
}
.logo-courir {
    height: 120px;
    display: flex;
    margin: 1.5rem auto 1.5rem auto;
}
.menu-open {
    background-color: gray;
    position: absolute;
    right: 0;
    display: none;
}
.img-list {
    width: 200px;
    display: block;
    margin: 0.3rem;
}
.list-like {
    background-color: #e35205;
}
.prod-like {
    background-color: white;
}
.text-prod-like {
    margin-top: 1rem;
    width: 50%;
}
.text-prod-like h5 {
    color: #e35205;
    text-align: left;
}
.text-prod-like p {
    text-align: left !important;
    margin: 0;
}
.redirect {
    background-color: #e35205;
    color: white;
    border: 2px solid gray;
    padding: 0.5rem;
    margin-left: auto;
}
.like-anim {
    position: absolute;
}

/** RESPONSIVE **/



/** ANIMATION SLIDE **/

/** REFUS **/
.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
}
@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

/** VALIDATION **/
.slide-in-blurred-right {
    -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
}
@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
